# Auto detect text files and perform LF normalization
* text=auto

# Custom for swi-prolog
*.pl     diff=prolog

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.PL	 diff=astextplain
*.pl	 diff=astextplain
*.pro	 diff=astextplain
*.PRO	 diff=astextplain
